.event_card {
  background-color: aquamarine;
  margin: 5px;
  padding: 10px;
  /* display: flex;
  justify-content: flex-start; */

}

.event_card label {
  display: block;
  color: rgb(12, 12, 12);
  text-align: left;
}
 