.modal{
    width: 90%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    position: relative;
    justify-content: center;
    top: 40vh;
    left: 5%;
}
.modal_header{
    padding: 1rem;
    background: #5101d1;
    color: white;
}

.modal_header h1 {
    margin: 0;
    font-size: 1.25rem;
}

.modal_content {
    padding: 1rem;
}

.modal_actions {
    display: flex;
    justify-content: center;
    padding: 2rem;
    padding-right: 2rem;
    font-size: 20px;
}

@media (min-width: 768px) {
    .modal {
        width: 30rem;
        left: (calc(100% -30rem) / 2);
    }
}

.btn{
    color: rgb(32, 32, 32);
}