nav{
  background-color: rgb(82, 174, 248);
  padding-left: 2rem;
  font-size: 50px;
  font-family: 'Anton', sans-serif;
 

}

.begin{
    background: url(https://www.newstatesman.com/sites/all/themes/creative-responsive-theme/images/new_statesman_events.jpg);
    background-position: center;
    height: 500px;
    width: 100%;
    padding-top: 5rem; 
    animation: change-bg 20s linear infinite;  
}

 @keyframes change-bg {
    0% { background-image: url(https://www.newstatesman.com/sites/all/themes/creative-responsive-theme/images/new_statesman_events.jpg) ; }
    20% { background-image: url(https://images.unsplash.com/photo-1581091870619-835cee86e759?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) ; }
    30% { background-image: url(https://images.pexels.com/photos/2422293/pexels-photo-2422293.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) ; }
    45% { background-image: url(https://images.pexels.com/photos/935756/pexels-photo-935756.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) ; }
    60% { background-image: url(https://images.pexels.com/photos/1181354/pexels-photo-1181354.jpeg?cs=srgb&dl=pexels-christina-morillo-1181354.jpg&fm=jpg) ; }
    70% { background-image: url(https://images.unsplash.com/photo-1427751840561-9852520f8ce8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80) ; }
    85% { background-image: url(https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) ; }
    100% { background-image: url(https://images.pexels.com/photos/2277784/pexels-photo-2277784.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) ; }


} 







  
  h2 {
    font-size: 50px;
    /* margin-top: 120px; */
    margin: 0;
    padding: 0;
    font-family: verdana;
    color: #ccc;
    text-transform: uppercase;
    position: relative;
  }

  h2::before {
      content: "Upcoming Events";
      position: absolute;
      top: 0;
      left: 0;
      color: #262626;
      width: 0%;
      overflow: hidden;
      transition: all 0.1s;
  }
  
  h2:hover:before {
      width: 100%;
  }


  h3 {
    font-size: 20px;
    color: rgb(12, 0, 116);

  }

  .bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b--black-10 {
    border-color: rgba(199, 170, 170, 0.1);
}

.db {
    display: block;
}

.dt {
    display: table;
}

.dtc {
    display: table-cell;
}

.fw4 {
    font-weight: 400;
}

.fw6 {
    font-weight: 600;
}

.lh-title {
    line-height: 1.25;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.mw6 {
    max-width: 30rem;
}

.w3 {
    width: 30rem;
}

.w-100 {
    width: 100%;
}

.black-60 {
    color: rgba(0, 0, 0, .6);
}

.black {
    color: #000;
}

.blue {
    color: #357edd;
}

.pl2 {
    padding-left: .5rem;
}

.pb2 {
    padding-bottom: .5rem;
}

.ml0 {
    margin-left: 0;
}

.mb0 {
    margin-bottom: 0;
}

.mt2 {
    margin-top: 1.5rem;
}

.mv0 {
    margin-top: 0;
    margin-bottom: 0;
}

.f6 {
    font-size: .875rem;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.clip {
    position: fixed !important;
    _position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.v-top {
    vertical-align: top;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

@media screen and (min-width: 30em) {
    .f5-ns {
        font-size: 1rem;
    }
}







