/* logo diplay and position */
.Tilt {
      background: linear-gradient (89deg, #FF5EDF 50%, #04C8DE 100%);
      position: absolute;
      padding: 0%;
      margin: 0%;
      margin-top: '1rem';
}