.dashboardarea {
  background-color: #f5f5f5;
}

.dashboard {
  display: inline-flex;
  justify-content: center;
  width: 60%;
  border-radius: 1em;
  padding: 0;
  margin: 2em;
}

.myAccount {
  background-color: #ffffff;
  width: 30%;
  margin: 5px;
  border-radius: 20px 0 0 20px;
}

.personalDetails {
  background-color: #ffffff;
  width: 70%;
  margin: 5px;
  justify-content: center;
  border-radius: 0 20px 20px 0;
}

.personalDetails2 {
  display: inline-flex;
  margin: 1em;
}

.accountDetails {
  border: 1px solid #f2f2f2;
  width: 60%;
}

.addressBook {
  border: 1px solid #f2f2f2;
  margin-left: 5px;
  width: 60%;
}

.newsletter {
  border: 1px solid #f2f2f2;
  padding: 0;
  width: 40%;
  margin-left: 5em;
  margin-bottom: 1em;
}
