.title{
	position: relative;
	text-align: center;
	text-transform: capitalize;
	color: #3d3d3d;
    margin: 10px 0;
    font-size: 25px;
}

.title::after{
	content: "";
	position: absolute;
	width: 20%; height: 2px;
	bottom: -10px; left: 50%;
	transform: translateX(-50%);
	background-image: linear-gradient(to left, transparent 5%, #1dd3bd);
}

.team-row{
	padding: 20px 0;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.member{
	flex:1 1 250px;
	max-width: 300px;
	padding: 20px 10px;
	margin:20px;
	text-align: center;
	transition: all 0.3s;
	cursor: pointer;
	border-radius: 5px;
}

.member:hover{
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	transform: translateY(-20px);	
}

img{
  	display: block;
	width: 600px; height: 300px;
	/* border-radius: 50%; */
	margin: 0 auto;
	object-fit: cover;
	border:2px solid #e1e2e2;
}

img:hover{
    opacity: .5;
    transition: opacity .15s ease-in;
}

.member h2{
	text-transform: uppercase;
	margin:15px 0;
	font-size: 24px;
	color: #1dd3bd;	
}

.member p{
	font-size: 15px;
	color: #6e6d6d;
	line-height: 1.6;
}